version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: lms-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "${MYSQL_PORT}:3306"
    networks:
      - app-network
    healthcheck:
      # Sửa -proot -> -uroot, giữ -p${MYSQL_ROOT_PASSWORD}
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: lms-phpmyadmin
    depends_on:
      db:
        condition: service_healthy
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      PMA_PORT: ${MYSQL_PORT}
    ports:
      - "8090:80"
    networks:
      - app-network

  app:
    build:
      context: .
    container_name: lms-backend
    restart: on-failure
    env_file: .env
    environment:
      # Dùng từ .env: SPRING_PROFILES_ACTIVE=dev
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

      # FE origin cho CORS/CSP (map -> app.CLIENT_URL)
      APP_CLIENT_URL: ${APP_CLIENT_URL}

      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_EXPIRATION_TIME: ${JWT_EXPIRATION_TIME}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      PAYPAL_CLIENT_ID: ${PAYPAL_CLIENT_ID}
      PAYPAL_CLIENT_SECRET: ${PAYPAL_CLIENT_SECRET}
      FIREBASE_BUCKET: ${FIREBASE_BUCKET}
      JAVA_OPTS: "-Xms256m -Xmx512m"
    ports:
      - "${SPRING_LOCAL_PORT}:${SPRING_DOCKER_PORT}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:

volumes:
  db_data:
